<div
  class="container-fluid home justify-content-center align-items-center d-flex"
>
  <div class="row">
    <div class="col">
      <div class="inner text-center">
        <img src="/img/avataaars.svg" alt="Not Found" class="w-75 mb-4 p-3" />
      </div>
      <figure>
        <h3 class="text-uppercase">start Framework</h3>
        <div class="justify-content-center my-3 d-flex gap-3">
          <div class="styel me-1"></div>
          <i class="fa-solid fa-star"></i>
          <div class="styel ms-1"></div>
        </div>
        <p class="text-center">Graphic Artist - Web Designer - Illustrator</p>
      </figure>
    </div>
  </div>
</div>
